.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}
.cardbody {
  width: 20rem;
  max-height: 23rem;
  position: relative;
  border: solid 2px #55caef;
  border-radius: 10px;
  padding: 1.2rem;
  padding-top: 2rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: #fff;
  cursor: pointer;
}
.cardcontent {
  cursor: pointer;
}
.cardbtn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: -25px;
  top: -25px;
  content: "";
  background-color: #55caef;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  z-index: 2;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.deleteicon {
  position: relative;
  width: 25px;
  height: 25px;
}
.cardsubject {
  font-family: "ABeeZee-Regular";
  font-size: 14px;
  color: #bababa;
  margin-bottom: 0.5rem;
}
.cardtitle {
  font-family: "Akshar-Regular";
  font-weight: 100;
  font-size: 45px;
  color: #000;
  margin: 0rem;
}
.cardcategorieborder {
  margin-top: 1.2rem;
  margin-bottom: 1.5rem;
  position: relative;
  width: auto;
  background-color: #55caef;
  border-radius: 50px;
  padding: 0.2rem;
  padding-left: 1.3rem;
  padding-right: 1.3rem;
  width: fit-content;
}
.cardcategorie {
  margin: 0rem;
  padding: 0rem;
  color: #fff;
  font-size: 0.75rem;
  font-family: "Timmana-Regular";
  height: 15px;
}
.cardcontent {
  position: relative;
  margin-top: 1rem;
  margin-bottom: 3rem;
}
.carddescription {
  color: #9e9e9e;
  font-family: "Akshar-Regular";
  font-size: 1rem;
  line-height: 1.35rem;
  margin: 0rem;
}
.carddate {
  color: #cfcfcf;
  font-size: 10px;
  font-family: "AbeeZee-Regular";
  margin: 0rem;
}
@media (max-width: 576px) {
  .cardbtn {
    width: 35px;
    height: 35px;
    right: -17px;
    top: -17px;
  }
  .deleteicon {
    position: relative;
    width: 17px;
    height: 17px;
  }
}

@media (min-width: 576px) {
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
}
@media (min-width: 1400px) {
}
